.photo-viewer {
  width: calc(100% - 40px);
  height: calc(100% - 40px);

  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .photo-viewer__image {
    flex-grow: 1;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: calc(100% - 40px);
    }
  }

  .gesture-indicator {
    margin: 0 10px;
    width: calc(50px + 20px);
  }
}
