.command-mode {
  --height: 100px;

  display: flex;
  flex-direction: column;
  z-index: 100;

  position: fixed;
  bottom: var(--height);
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;

  width: calc(80vw - 40px);

  color: white;
  transition: all 300ms;

  background: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;

  .command-mode__header,
  .command-mode__footer {
    display: flex;
    width: calc(100% - 20px);
    margin: 10px;

    > * {
      justify-content: unset;
      flex: 1;
    }
  }

  .command-mode__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
  }
}

.command-mode-enter {
  bottom: -100%;
}

.command-mode-enter-active {
  bottom: var(--height);
}

.command-mode-exit {
  bottom: var(--height);
}

.command-mode-exit-active {
  bottom: -100%;
}

.application-launcher {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  .application {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .application__name {
      font-size: 24px;
    }

    .application__icon {
      width: 140px;
      height: 100px;
      background-color: white;
      border-radius: 10px;
      margin: 20px 0;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
