.main-screen {
  color: white;
  height: 100vh;
  background: linear-gradient(180deg, #488bd8 0%, #1d64b4 100%);

  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    font-size: 98px;
    padding: 20px;
  }

  > h2 {
    padding-top: 20px;
    font-size: 42px;
    opacity: 0.8;
  }

  .main-screen__content {
    padding: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-screen__app-content {
    width: 100%;
    flex-grow: 1;
    max-height: calc(100% - 80px);

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      'app1 app1'
      'app1 app1';
  }

  .task-bar {
    display: flex;
    align-items: center;

    width: calc(100% - 40px);
    height: 80px;

    background-color: #1d64b4;
    padding: 0 20px;

    .task-bar__apps {
      display: flex;
      padding: 0 20px;

      flex-grow: 1;

      height: 100%;

      .app-icon {
        width: calc(40px + 20px);
        height: 100%;
        position: relative;

        padding: 0 10px;
        margin: 0 4px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
        }

        &.active::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--color);
          width: 100%;
          height: 4px;
        }
      }
    }

    .date-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
