.app-window {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.selected {
    .app-window__header {
      background-color: var(--color);
    }
  }

  .app-window__header {
    --height: 40px;

    display: flex;
    align-items: center;
    padding: 0 10px;

    background-color: #666;
    font-size: 1.2em;
    min-height: var(--height);
    height: var(--height);
  }

  .app-window__content {
    flex-grow: 1;
    background-color: #555;
  }
}
