.app-window {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.selected {
    .app-window__header {
      background-color: var(--color);
    }
  }

  .app-window__header {
    background-color: #666;
    padding: 10px;
    font-size: 1.3em;
  }

  .app-window__content {
    flex-grow: 1;
    background-color: #555;
  }
}
