@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #5597d3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #124785;
  border-radius: 10px;
}
